<!DOCTYPE HTML>
<html>
  <head>
    <title>TheTiffanyTimes {{page.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.0/gridlex.min.css">
    <script src="https://use.fontawesome.com/4823380be7.js"></script>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
</html>

<body>

  <header id="home">
    <nav class="grid-spaceBetween">
      <div class="socials col-12">
        <a href="https://www.instagram.com/tiffany_janes/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/Thetiffanytimes-1131799556915920/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="mailto:hello@thetiffanytimes.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
      </div>
      <div class="logo col">
        <a href="/index.html"><img src="/images/logo.png" alt="my logo" /></a>
      </div>
      <div class="col">
        <a href="/about.html">About</a>
      </div>
      <div class="col">
        <a href="/blog.html">Blog</a>
      </div>
      <div class="col">
        <a href="/trainwithme.html">Train with me</a>
      </div>
      <div class="col">
        <a href="/workwithme.html">Work with me</a>
      </div>
    </nav>
    <h1>The Tiffany Times</h1>
    <h3>Motto/Quote goes here</h3>
  </header>

{{content}}

  <footer id="subscribe">
    <h2>Subscribe</h2>
    <form method="POST" action="http://formspree.io/hello@thetiffanytimes.com">
      <input type="name" name="name" Placeholder="name">
      <input type="email" name="email" placeholder="Your email">
      <button type="submit">Subscribe</button>
    </form>
    <nav class="grid-spaceBetween">
      <div class="socials col-12">
        <a href="https://www.instagram.com/tiffany_janes/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/Thetiffanytimes-1131799556915920/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="mailto:hello@thetiffanytimes.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    </nav>

  </footer>
</body>
</html>
