
/*--------------Universal Styles--------------*/
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  /*border: 1px solid rgb(240,240,240);*/
}
body {
  color: rgb(60,60,65);
  font-family: 'Source Sans Pro', sans-serif;
}

img{
  max-width: 100%;
}

header, footer, section {
  padding: 2% 5%;
}

section {
  border-top: 1px solid rgb(240,240,240);
  border-bottom: 1px solid rgb(240,240,240);
}

[class*=col] {
  padding: 2%;
}
h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    margin: 0.5rem 0;
}

h3 {
  text-align:center;
  font-size: 30px;
}

h2 {
  text-align:center;
  font-size: 45px;
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  text-align:center;
  font-size:60px;
  font-weight:bold;
  text-transform: uppercase;
}

p {
  margin: 0.5em 0;
  line-height: 1.2;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: rgb(60,60,60);
  padding: 5px 10px;
  margin-top: 10px;
  border: 1px solid rgb(60,60,60);
  border-radius: 2px;
}
.button:hover {
  color: mediumvioletred;
  border: 1px solid mediumvioletred;
}

.filter-image, .grid-image {
  padding-bottom: 50%;
  background-size:cover;
}

.background-image {
  background-size:cover;
  background-position: center;
}

.center {
  text-align:center;
}

.no-padding {
  padding: 0;
}

.margin-auto {
    margin: auto;
}
/*styling on drop menus*/

.logo img {
  max-width: 120px;
}
.menu a {
  display: inline-block;
  text-decoration: none;
  color: rgb(60,60,60);
  padding: 5px 10px;
  vertical-align: middle;
}
.menu a:hover {
  color: mediumvioletred;
  border-bottom: 1px solid mediumvioletred;
}

.dropdownfinder {
  display: inline-block;
  text-decoration: none;
  color: rgb(60,60,60);
  padding:0;
}

.dropdownbox {
  position:absolute;
  display:none;
}
.dropdownbox a {
  display: block;
}

.dropdownfinder:hover .dropdownbox {
  display:block;
}

.hidden {
  display:none !important;
}


/*Header Styles*/

header{
  background-image:url('/images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}
header .col-6 {
  padding: 0;
}

header .socials {
  display:inline-block;
}
.socials .fa {
  color:mediumvioletred;
  font-size: 30px;
  transition: all 1s;
  padding: 0.2rem;
}

.socials .fa:hover{
  color:grey;
}

#home h1 {
  text-align:center;
  font-size: 80px;
  font-weight:bold;
}


/*styling on what I do Section*/

#whatido {
  padding-bottom: 20%;
}

.circle-outer {
  background-position: center;
  background-size:cover;
  border-radius: 50%;
  border: 1px solid grey;
  padding-top:28%;
  margin:2%;
  position: relative;
  opacity: 0.6
}

.circle-inner {

  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius: 50%;
  padding: 20% 1%;
  text-align:center;
  transition: background: 0.5s;
  opacity: 1;
}

.circle-inner p {
  color: rgba(0,0,0,0);
  transition: background: 0.5s;
}

.circle-inner:hover {
  background-color: rgba(255,255,255,0.1);
  color: white;
}

.circle-inner:hover p {
  color: rgba(255,255,255,1);
}

.left-circle {
    left: 23%;
    background-image: url('/images/header.jpg');
}
.inactive-circle{
  background-color: rgba(60,60,60,1);

}
.middle-circle {
    top: 17vw;
  z-index:9;
  background-image: url('/images/header.jpg');
}
.right-circle {
    right: 23%;
    background-image: url('/images/header.jpg');
}

/*styling on testimonial circles*/
.testimonial-circle {
  border-radius: 50%;
  width: 145px;
  height: 145px;
  margin: auto;
}
/* Video */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; overflow:
  hidden; max-width: 100%; }
  .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }



/*------------------JAVA SCRIPT-----------------------*/
/*Burger Menu*/

.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
}
.burger-menu a {
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  color: #C3BFBC;
  font-family: 'Alegreya Sans SC', sans-serif;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}
.burger-menu li{list-style:none}
.burger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9999999999;
  padding: 8px;
}
.burger-button span{
  width: 25px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-top, .burger-bottom{
  position: absolute;
}
.burger-top{
  top: 02px;
}
.burger-bottom{
  bottom: 02.5px;
}
.active .burger-top{
  transform: rotateZ(45deg);
  top: 8px;
  border-color: red;
}
.active .burger-middle{
  opacity:0;
}
.active .burger-bottom{
  transform: rotateZ(135deg);
  bottom: 8px;
  border-color: red;
}

/*-----------Navs to burger menu on mobile---------------*/

.mob-show{
  display: none;
}

@media all and (max-width:465px){
  .mob-show{
    display: block;
  }
  .mob-hide{
    display:none!important;
  }
  .socials {
    padding-right: 7%
  }
}
